<!-- <div class="container">
    <div class="card">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
</div> -->

<!-- <p>app component works</p>

<app-student></app-student> -->

<div id="page" align="center">
    <div id="content" style="width:800px">

        <app-redtie-header></app-redtie-header>

        <app-redtie-content></app-redtie-content>

        <app-redtie-sidebar></app-redtie-sidebar>

        <app-redtie-footer></app-redtie-footer>

    </div>
</div>